<div class="content-wrapper descend">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <h1>Statistiques Générales</h1>
              </div>
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">NVA</a></li>
                      <li class="breadcrumb-item active">statistiques</li>
                  </ol>
              </div>
          </div>
      </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                  <!-- AREA CHART -->
                  <div class="card card-primary">
                      <div class="card-header">
                          <h3 class="card-title">Clients par an</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart">
                            <app-userjoined-date *ngIf="joinedYearNumber" [joinedYearNumber]="joinedYearNumber">
                            </app-userjoined-date>                          </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                  <!-- DONUT CHART -->
                  <div class="card card-danger">
                      <div class="card-header">
                          <h3 class="card-title">Répartition des utilisateurs par catégorie</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                        <app-donot-user-stats *ngIf="ClientCount || EmployeeCount || AdminCount"  [clientCount]="ClientCount" [employeeCount]="EmployeeCount" [adminCount]="AdminCount"></app-donot-user-stats>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                  <!-- PIE CHART -->
                  <div class="card card-danger">
                      <div class="card-header">
                          <h3 class="card-title">Pie Chart</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart tab-pane active" id="revenue-chart"
                              style="position: relative; height: 380px;">

                              <!-- <div *ngIf="maleCount !== 0 || femaleCount !== 0">
                                  <app-pie [maleCount]="maleCount" [femaleCount]="femaleCount"></app-pie>

                              </div> -->
                          </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

              </div>
              <!-- /.col (LEFT) -->
              <div class="col-md-6">
                  <!-- LINE CHART -->
                  <div class="card card-info">
                      <div class="card-header">
                          <h3 class="card-title">Line Chart</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <!-- <div class="chart">
                              <app-contype *ngIf="contractTypeData" [contractTypeData]="contractTypeData"></app-contype>
                          </div> -->
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                  <!-- BAR CHART -->
                  <div class="card card-success">
                      <div class="card-header">
                          <h3 class="card-title">Bar Chart</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <!-- <div class="chart">
                              <app-bar *ngIf="hiredDayData" [hiredDayData]="hiredDayData"></app-bar>
                          </div> -->
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                  <!-- STACKED BAR CHART -->
                  <div class="card card-success">
                      <div class="card-header">
                          <h3 class="card-title">Stacked Bar Chart</h3>

                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart">
                              <canvas id="stackedBarChart"
                                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                          </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

              </div>
              <!-- /.col (RIGHT) -->
          </div>
          <!-- /.row -->
      </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->